.panel-fixed.bg-hawaii
.panel
	%h1.panel-title Hawaii
	.panel-subtitle
		%p A beautiful place
.panel.gray
	.weather-data
		%h1#weather-header Weather for #{@weatherData["display_location"]["full"]}
		.basic-info
			=image_tag @weatherData["icon_url"]
			%p=@weatherData["temperature_string"]
		%p=@weatherData["weather"]
		%p=@weatherData["wind_string"]
		%p=@weatherData["local_time_rfc822"]
		%p=@weatherData["local_tz_long"]
		%p=@weatherData["local_tz_short"]
	#outer-currency
		#currency-container
			= link_to "Currency Converter", "http://www.exchangeratewidget.com/"
		%script{:src => "http://www.exchangeratewidget.com/converter.php?l=en&f=USD&t=EUR&a=1&d=F0F0F0&n=FFFFFF&o=000000&v=1", :type => "text/javascript"}
	%input{"data-rangeslider" => "", :max => "15", :min => "5", :step => "15", :type => "range", :value => "8"}/
.panel.white
	.twitter-social.social-slide
	.facebook-social.social-slide
	.google-social.social-slide
	.instagram-social.social-slide

/ :javascript
/ 	$('input[type="range"]').rangeslider();
