%h1 All Favorited Packages
- if @all_favs.any?
  %table.favorite_table{:align => "center"}
    %th Package
    %th Selected Activities
    %th Cost
    %th Remove
    - @all_favs.each do |package_id, activity_array|
      %tr
        %td
          .package.table
            .pk-image
              = image_tag PACKAGES[package_id]["image"], class: 'package-img'
            .pk-desc
              %h2=link_to PACKAGES[package_id]["name"], PACKAGES[package_id]["link"], target: "_blank"
        %td
          .activities
            - if activity_array != nil
              - activity_array.each do |activity_id|
                %li=ACTIVITIES[activity_id]["name"]
            - else
              %li None selected
        %td
          .cost
            %span=PACKAGES[package_id]["cost"]
        %td
          .remove
            = link_to image_tag('delete.png'), "/favorites/#{package_id}", class: 'delete', method: :delete, remote: true
- else
  .no_favorites
    %p You do not have any favorites at this time. Favorite a package and view it again here!
=#link_to "Delete All", delete_all_path, method: :post
