- @title = "Favorites"
.favorite_content
  %h1 All Favorited Packages
  - if @all_favs.any?
    %table.favorite_table{:align => "center"}
      %th Package
      %th Selected Activities
      %th Cost
      %th Remove
      - @all_favs.each do |package_id, activity_array|
        %tr
          %td
            .package
              -# %h2 Package
              .pk-image
                = image_tag PACKAGES[package_id]["image"], class: 'package-img'
              .pk-desc
                %h2=link_to PACKAGES[package_id]["name"], PACKAGES[package_id]["link"], target: "_blank"
          %td
            .activities
              -# %h2 Selected Activities
              - activity_array.each do |activity_id|
                %li=ACTIVITIES[activity_id]["name"]
          %td
            .cost
              -# %h2 Cost
              %span=PACKAGES[package_id]["cost"]
          %td
            .remove
              -# %h2 Delete
              = link_to image_tag('delete.png'), "#{package_id}", class: 'delete'
  - else
    .no_favorites
      %p You do not have any favorites at this time. Favorite a package and view it again here!
  =#link_to "Delete All", delete_all_path, method: :post
