%h2 Share this with:
.twitter-social.social-slide
.facebook-social.social-slide
.google-social.social-slide
.instagram-social.social-slide
.fb-like{"data-action" => "recommend", "data-href" => "https://www.facebook.com/toptiertraveling?ref=bookmarks", "data-layout" => "button", "data-share" => "false", "data-show-faces" => "false", "style" => "display: block"}
