%h2 Share this with:
.twitter-social.social-slide#twitter-social
.facebook-social.social-slide
.google-social.social-slide.g-interactivepost{"data-calltoactiondeeplinkid" => "/pages/create", "data-calltoactionlabel" => "CREATE", "data-calltoactionurl" => "http://plus.google.com/pages/create", "data-clientid" => "461920536691-ui3gcvj6ao5pugn9hs4rem9cliuo6u7f.apps.googleusercontent.com", "data-contentdeeplinkid" => "/pages", "data-contenturl" => "https://toptiertraveling.com", "data-cookiepolicy" => "single_host_origin", "data-prefilltext" => "#{@dest}"}
-# {"data-calltoactiondeeplinkid" => "/pages/create", "data-calltoactionlabel" => "CREATE", "data-calltoactionurl" => "http://plus.google.com/pages/create", "data-clientid" => "461920536691-ui3gcvj6ao5pugn9hs4rem9cliuo6u7f.apps.googleusercontent.com", "data-contentdeeplinkid" => "/pages", "data-contenturl" => "https://plus.google.com/pages/", "data-cookiepolicy" => "single_host_origin", "data-prefilltext" => "Engage your users today, create a Google+ page for your business."}
/.instagram-social.social-slide
.fb-like{"data-action" => "recommend", "data-href" => "https://www.facebook.com/toptiertraveling?ref=bookmarks", "data-layout" => "button", "data-share" => "false", "data-show-faces" => "false", "style" => "display: block"}
