%h1
	%p Top
	%p Tier
	%p Traveling
	\#{image_tag("logo.png", :class=>"header-logo")}
%nav.vacspots
	%span
		= link_to "Hawaii", hawaii_path
	%span
		= link_to "Italy", italy_path
	%span
		= link_to "Vac 3", "/"
