%a.link{href: "/"}
	TopTierTraveling
	\#{image_tag("logo.png", :class=>"header-logo", :width=>"40", :height => "40")}
%nav.vacspots
	%ul
		%li.tab
			= link_to "Hawaii", "/travels/hawaii"
		%li.tab
			= link_to "Vac 2", "/"
		%li.tab
			= link_to "Vac 3", "/"
