- @title="About"
- @meta="Sameet Sapra, John Stavropoulos, Andrew Merkley, Neuqua Valley High School, Business Professionals of America, TopTierTraveling"
%h1.text-header Business Professionals of America
%table.about#about{:align => "center"}
  %tr
  %tr
    %td Name of Chapter
    %td Neuqua Valley High School - Kevin Geers
  %tr
    %td Theme
    %td Travel Agency
  %tr
    %td School
    %td Neuqua Valley High School
  %tr
    %td City
    %td Naperville
  %tr
    %td State
    %td Illinois
  %tr
    %td Year
    %td 2015
%h1.text-header The Team
%section.team
  %article
    %figure
      .aboutimages
        = image_tag("sameet.png", :class => "contact", :alt => "Sameet Sapra")
      .caption
        %figcaption Sameet Sapra
        %p Web Developer
  %article
    %figure
      .aboutimages
        = image_tag("andrew.png", :class => "contact", :alt => "Andrew Merkley")
      .caption
        %figcaption Andrew Merkley
        %p Content Researcher
  %article
    %figure
      .aboutimages
        = image_tag("john.png", :class => "contact", :alt => "John Stavropoulos")
      .caption
        %figcaption John Stavropoulos
        %p Responsive Design / SEO
