- @title = "Home"
#owl-example.owl-carousel
	%div.item
		=image_tag "home.jpg"
	%div.item
		=image_tag "home.jpg"
	%div.item
		=image_tag "home.jpg"
	%div.item
		=image_tag "home.jpg"
	%div.item
		=image_tag "home.jpg"
	%div.item
		=image_tag "home.jpg"
	%div.item
		=image_tag "home.jpg"
	%div.item
		=image_tag "home.jpg"
