- @title = "Home"
- @meta = "toptiertraveling, top tier, TopTierTraveling, Italy, Hawaii, Florence, Rome, Venice, Maui, Oahu, Big Island"
- if flash[:success]
	%p.alert.success
		%i.fa.fa-check
		Message was successfully sent.
.welcome-show.section
	.welcome.owl-carousel
		.item
			=image_tag("home_1.png")
			%h1 Accurate, real-time data from Wunderground's API
		.item
			=image_tag("home_2.png")
			%h1 View relevant packages based on activities you enjoy, while viewing the estimated cost and nights to stay
		.item
			=image_tag("home_3.png")
			%h1 Geographically and visually understand the individual cities we have to offer
		.item
			=image_tag("home_4.png")
			%h1 Favorite packages and activity selections and revisit them later in your "Favorites" cart
	.description-welcome
		%h1 Our Mission
		%p At TopTierTraveling, we deliver global travel solutions that meet the complex demands of companies and their travelers. Building on TopTierTraveling's legacy of innovation in online travel and its multinational footprint, we offer a full service and fully integrated approach to travel and expense management. By combining leading technology with expert support, we've helped hundreds of consumers discover the world's wonders.
	.arrow
		%i.fa.fa-angle-down.fa-lg
.vacation-show.section
	.centered
		%h1 Learn about our destinations!
		.desktop
			.row#moveLeft
				.select-dest{"data-desc" => "#{INFO["Hawaii"]["description"]}"}
					%h1 Hawaii
					=image_tag("big3.jpg")
				.select-dest{"data-desc" => "#{INFO["Italy"]["description"]}"}
					%h1 Italy
					=image_tag("rome3.jpg")
			.desc-texts
				.desc
					%p
			.row#moveRight
				.select-dest{"data-desc" => "#{INFO["China"]["description"]}"}
					%h1 China
					=image_tag("xian1.jpg")
				.select-dest{"data-desc" => "#{INFO["Random"]["description"]}"}
					%h1{style: 'color: black;'} Random
					=image_tag("random.png")
		.mobile
			.row
				.image
					=image_tag "big3.jpg"
				.desc
					%p=INFO["Hawaii"]["description"]
				.createdButton
					=link_to "Find out more!", hawaii_path, class: 'pure-button'
			.row
				.image
					=image_tag "rome3.jpg"
				.desc
					%p=INFO["Italy"]["description"]
				.createdButton
					=link_to "Find out more!", italy_path, class: 'pure-button'
			.row
				.image
					=image_tag "xian1.jpg"
				.desc
					%p=INFO["China"]["description"]
				.createdButton
					=link_to "Find out more!", china_path, class: 'pure-button'
