- @title = "Home"
- @meta = "TopTierTraveling, Italy, Hawaii, Florence, Rome, Venice, Maui, Oahu, Big Island"
.welcome-show.section
	.welcome.owl-carousel
		.item
			%h1 1
		.item
			%h1 2
		.item
			%h1 3
		.item
			%h1 4
	.description-welcome
		%h1 Our Mission
		%p At TopTierTraveling, we deliver global corporate travel solutions that meet the complex demands of companies and their travelers. Building on TopTierTraveling's legacy of innovation in online travel and its multinational footprint, we offer a full service and fully integrated approach to travel and expense management. By combining leading technology with expert support, we've helped hundreds of consumers achieve the savings they need.
	.arrow
		%i.fa.fa-angle-down.fa-lg
.vacation-show.section
	.centered
		%h1 Learn about our destinations!
		.row
			%div{"data-desc" => "#{INFO["Hawaii"]["description"]}"}
				%h1 Hawaii
				=image_tag("big2.jpg")
			%div{"data-desc" => "#{INFO["Italy"]["description"]}"}
				%h1 Italy
				=image_tag("rome3.jpg")
		.desc-texts
			.desc
				%p
		.row
			%div{"data-desc" => "#{INFO["Hawaii"]["description"]}"}
				%h1 Vac 3
				=image_tag("rome3.jpg")
			%div{"data-desc" => "#{INFO["Random"]["description"]}"}
				%h1 Random
				=image_tag("random.jpg")

-# 	.adjust-height
-# 		.vacation.owl-carousel.inline-home
-# 			%div= image_tag("oahu1.jpg")
-# 			%div= image_tag("oahu2.jpg")
-# 			%div= image_tag("oahu3.jpg")
-# 			%div= image_tag("maui1.jpg")
-# 			%div= image_tag("maui2.jpg")
-# 			%div= image_tag("maui3.jpg")
-# 			%div= image_tag("big1.jpg")
-# 			%div= image_tag("big2.jpg")
-# 			%div= image_tag("big3.jpg")
-# 		.description.inline-home
-# 			%h1 Hawaii
-# 			%p=INFO["Hawaii"]["description"]
-# 			%button.button-hawaii.pure-button Find out more!
-# 	.arrow
-# 		%i.fa.fa-angle-down.fa-lg
-# .vacation-show.section
-# 	.adjust-height
-# 		.vacation.owl-carousel.inline-home
-# 			%div= image_tag("florence1.jpg")
-# 			%div= image_tag("florence2.jpg")
-# 			%div= image_tag("florence3.jpg")
-# 			%div= image_tag("rome1.jpg")
-# 			%div= image_tag("rome2.jpg")
-# 			%div= image_tag("rome3.jpg")
-# 			%div= image_tag("venice1.jpg")
-# 			%div= image_tag("venice2.jpg")
-# 			%div= image_tag("venice3.jpg")
-# 		.description.inline-home
-# 			%h1 Italy
-# 			%p=INFO["Italy"]["description"]
-# 			%button.button-italy.pure-button Find out more!
-# 	.arrow
-# 		%i.fa.fa-angle-down.fa-lg
-# .vacation-show.section
-# 	.adjust-height
-# 		.vacation.owl-carousel.inline-home
-# 			%div= image_tag("florence1.jpg")
-# 			%div= image_tag("florence2.jpg")
-# 			%div= image_tag("florence3.jpg")
-# 			%div= image_tag("rome1.jpg")
-# 			%div= image_tag("rome2.jpg")
-# 			%div= image_tag("rome3.jpg")
-# 			%div= image_tag("venice1.jpg")
-# 			%div= image_tag("venice2.jpg")
-# 			%div= image_tag("venice3.jpg")
-# 		.description.inline-home
-# 			%h1 Italy
-# 			%p Blah Blah Blah
