- @title = "Home"
/Perhaps a larger carousel with images of our own website to showcase how easy it is
/mission statement
/arrow to go smoothly down to all events
.welcome-show
	.container1
		.row
			.span12
				.welcome.owl-carousel
					.item
						%h1 1
					.item
						%h1 2
					.item
						%h1 3
					.item
						%h1 4
	.description-welcome
		%h1 Our Mission
		%p At TopTierTraveling, ...
.vacation-show
	.container1
		.row
			.span12
				.vacation.owl-carousel
					.item
						%h1 1
					.item
						%h1 2
					.item
						%h1 3
					.item
						%h1 4
					.item
						%h1 5
					.item
						%h1 6
					.item
						%h1 7
					.item
						%h1 8
					.item
						%h1 9
					.item
						%h1 10
					.item
						%h1 11
					.item
						%h1 12
					.item
						%h1 13
					.item
						%h1 14
					.item
						%h1 15
					.item
						%h1 16
	.description
		%h1 Hawaii
		%p Blah Blah Blah
.vacation-show
	.container1
		.row
			.span12
				.vacation.owl-carousel
					.item
						%h1 1
					.item
						%h1 2
					.item
						%h1 3
					.item
						%h1 4
					.item
						%h1 5
					.item
						%h1 6
					.item
						%h1 7
					.item
						%h1 8
					.item
						%h1 9
					.item
						%h1 10
					.item
						%h1 11
					.item
						%h1 12
					.item
						%h1 13
					.item
						%h1 14
					.item
						%h1 15
					.item
						%h1 16
	.description
		%h1 Hawaii
		%p Blah Blah Blah
.vacation-show
	.container1
		.row
			.span12
				.vacation.owl-carousel
					.item
						%h1 1
					.item
						%h1 2
					.item
						%h1 3
					.item
						%h1 4
					.item
						%h1 5
					.item
						%h1 6
					.item
						%h1 7
					.item
						%h1 8
					.item
						%h1 9
					.item
						%h1 10
					.item
						%h1 11
					.item
						%h1 12
					.item
						%h1 13
					.item
						%h1 14
					.item
						%h1 15
					.item
						%h1 16
	.description
		%h1 Hawaii
		%p Blah Blah Blah
.vacation-show
	.container1
		.row
			.span12
				.vacation.owl-carousel
					.item
						%h1 1
					.item
						%h1 2
					.item
						%h1 3
					.item
						%h1 4
					.item
						%h1 5
					.item
						%h1 6
					.item
						%h1 7
					.item
						%h1 8
					.item
						%h1 9
					.item
						%h1 10
					.item
						%h1 11
					.item
						%h1 12
					.item
						%h1 13
					.item
						%h1 14
					.item
						%h1 15
					.item
						%h1 16
	.description
		%h1 Hawaii
		%p Blah Blah Blah
/ .home-container
/ 	#hawaii.owl-carousel
/ 		%div.item
/ 			=image_tag "home.jpg"
/ 		%div.item
/ 			=image_tag "home.jpg"
/ 		%div.item
/ 			=image_tag "home.jpg"
/ 		%div.item
/ 			=image_tag "home.jpg"
/ 		%div.item
/ 			=image_tag "home.jpg"
/ 		%div.item
/ 			=image_tag "home.jpg"
/ 		%div.item
/ 			=image_tag "home.jpg"
/ 		%div.item
/ 			=image_tag "home.jpg"
/ 	.description
/ 		%h1 Hawaii
/ 		%p Blah Blah Blah
