/ .panel-fixed.bg1
/ .panel
/ 	%h1.panel-title Hello World
/ 	.panel-subtitle
/ 		%p Hello Subtext
/ .panel.gray
/ 	#pro
/ 		.f-col-wrapper
/ 			.col.f-col1
/ 				.icon-wrap
/ 					%h3 Less Emissions
/ 				.col-content.equal-height
/ 					%p Geothermal heat pumps have less of a negative effect on the environment. Open loop systems reduce emissions by up to 40%.
/ 		.f-col-wrapper
/ 			.col.f-col2
/ 				.icon-wrap
/ 					%h3 Reliability
/ 				.col-content.equal-height
/ 					%p Geothermal heat pumps can last from 20 to 50 years.
/ 		.f-col-wrapper
/ 			.col.f-col3
/ 				.icon-wrap
/ 					%h3 Easy Retrofitting
/ 				.col-content.equal-height
/ 					%p Geothermal systems are easy to integrate with older systems without complicated technical problems.
/ 		.f-col-wrapper
/ 			.col.f-col4
/ 				.icon-wrap
/ 					%h3 Emission Free
/ 				.col-content.equal-height
/ 					%p Emission Free, No Carbon Released, No Fuel Needed = No need to transport anything for energy purposes.
/ .panel.white
/ 	%p Hello World

