/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

$header-orig-height: 150px
$header-small-height: 70px
$logo-orig-size: 70px
$logo-small-size: 50px

html, head, body
	overflow-x: hidden

.header
	background-color: #232323
	color: white
	font: 1.0em 'Droid Sans', Verdana !important
	width: 100%
	height: $header-orig-height
	top: 0
	left: 0
	position: fixed
	overflow: hidden
	z-index: 10
	-webkit-transition: all 0.3s
	moz-transition: all 0.3s
	-ms-transition: all 0.3s
	-o-transition: all 0.3s
	transition: all 0.3s
	h1:hover
		cursor: pointer

.header p
	display: inline-block
	padding: 0
	margin: 0
	margin-right: -5px
	&::first-letter
		font-size: 180%

.header > h1
	display: inline-block
	height: $header-orig-height
	font-size: 2.2em
	margin-left: 30px
	font-weight: 100
	-webkit-transition: all 0.3s
	moz-transition: all 0.3s
	-ms-transition: all 0.3s
	-o-transition: all 0.3s
	transition: all 0.3s

.header-logo
	width: $logo-orig-size
	height: $logo-orig-size
	vertical-align: bottom
	-webkit-transition: all 0.3s
	moz-transition: all 0.3s
	-ms-transition: all 0.3s
	-o-transition: all 0.3s
	transition: all 0.3s

header.smaller
	height: $header-small-height

header.smaller > h1
	height: $header-small-height - 40
	font-size: 1.4em
	margin-top: 5px

header.smaller .vacspots span
	line-height: $header-small-height

.header-logo.smaller
	width: $logo-small-size
	height: $logo-small-size

#adjust-content
	margin-top: $header-orig-height

.link
	text-decoration: none

a, a:hover, a:visited
	color: inherit

.vacspots
	font-size: 1.2em
	float: right
	margin-right: 30px
	span
		line-height: $header-orig-height
		margin-left: 20px
		font-weight: 700
		float: left
		-webkit-transition: all 0.3s
		-moz-transition: all 0.3s
		-ms-transition: all 0.3s
		-o-transition: all 0.3s
		transition: all 0.3s
	a
		border-radius: 3px
		transition: all 0.3s
		padding: 5px 10px
		&:hover, .active
			background-color: gray

footer
	background-color: #232323
	text-align: center
	padding: 10px 0 !important

footer a
	text-color: white
	text-decoration: none
	font-size: 0.8em
	padding: 5px
	display: inline-block

.info-links, .info-link
	display: inline-block
	color: white
	vertical-align: top

.owl-carousel .owl-item
	padding: 30px 0px
	color: black
	-webkit-border-radius: 3px
	-moz-border-radius: 3px
	border-radius: 3px
	text-align: center
	img
		width: 50%

.owl-carousel
	width: 100%
	margin-left: auto
	margin-right: auto

.vacation-show
	margin: 40px 0

.description-welcome
	text-align: left
	margin-left: 20px

.random-image
	background-image: asset-data-url('random.jpg')

.arrow
	background: rgb(0, 0, 0)
	background: rgba(0, 0, 0, 0.7)
	width: 50px
	height: 50px
	display: block
	text-decoration: none
	position: absolute
	right: 10px
	-webkit-border-radius: 35px
	-moz-border-radius: 35px
	border-radius: 35px
	i
		color: #fff
		margin: 0
		position: relative
		left: 1px
		top: 13px
		font-size: 2.2em
		-webkit-transition: all 0.3s ease
		-moz-transition: all 0.3s ease
		-ms-transition: all 0.3s ease
		-o-transition: all 0.3s ease
		transition: all 0.3s ease
	&:hover
		cursor: pointer
		i
			top: 18px
