/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

header
	background-color: #232323
	padding: 15px 0px 15px 15px !important
	color: white
	font: 30px 'Droid Sans', Verdana
	width: 100%
	position: fixed
	overflow: hidden
	z-index: 10

a:hover, a:visited
	color: inherit

