.fields
	height: 300px

.field
	display: inline-block
	padding: 5px
	margin: 10px 0

.field.body
	display: block
	margin: 0 auto
	width: 580px
	height: 150px

%fieldset.actions
	margin: 0 auto

input
	font-family: 'Open Sans'
	-webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3)
	-moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3)
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3)

input[type="text"]
	width: 275px
	border: 1px solid #999
	height: 25px
	font-family: 'FontAwesome'
	font-size: 1.0em
	padding: 5px
	position: relative

input[type="submit"]
	border: 1px solid #f44c0e
	color: #fff
	background: tomato
	padding: 10px 20px
	border-radius: 3px
	font-family: 'FontAwesome'
	font-size: 1.0em
	&:hover
		background: #f44c0e

label
	display: block
	text-align: left
// input.button
// 	width: 100px
// 	position: absolute
// 	right: 20px
// 	bottom: 20px
// 	background: #09C
// 	color: #fff
// 	font: 1.0em 'Open Sans', Verdana
// 	height: 30px
// 	-webkit-border-radius: 15px
// 	-moz-border-radius: 15px
// 	border-radius: 15px
// 	border: 1px solid #999

// input.button:hover
// 	background: #fff
// 	color: #09C

textarea
	width: 590px
	height: 150px
	font: 1.0em 'Open Sans'
	-webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3)
	-moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3)
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3)
