.new_message
	margin: auto
	padding-top: 10px
	text-align: center

.alert
	border-radius: 3px
	color: #fff
	padding: 10px
	width: 250px
	margin: 0 auto

.error
	background-color: #c00

.success
	background-color: #008000

.field
	width: 100%
	margin: 1.0em 0
	label
		display: block

input[type="text"], textarea
	-webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3)
	-moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3)
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3)
	border: 1px solid #aaa
	font-size: 14px
	height: 20px
	padding: 5px 0 5px 10px
	font-family: 'FontAwesome', 'HN-Thin'
	font-size: 1.0em
	width: 33%

input[type="submit"]
	border: 1px solid #f44c0e
	color: #fff
	background: tomato
	padding: 10px 20px
	border-radius: 3px
	font-family: 'FontAwesome', 'HN-Thin'
	font-size: 1.0em
	-webkit-transition: all 0.3s
	moz-transition: all 0.3s
	-ms-transition: all 0.3s
	-o-transition: all 0.3s
	transition: all 0.3s
	&:hover
		background: #f44c0e
		cursor: pointer

textarea
	height: 125px
	margin-bottom: 25px
