/* ============================================================
  PRIMARY STRUCTURE
============================================================ */
.container {
  margin: 0 20px;
}
/* ============================================================
  SECTIONS
============================================================ */
section.module:last-child {
  margin-bottom: 0;
}
section.module.content {
  padding: 40px 0;
}
section.module.parallax {
  height: 800px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
section.module.parallax h1 {
  font-size: 48px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
section.module.parallax .container > p{
  font-weight: 400;
  font-size: 20px;
  // background-color: rgba(0, 0, 0, 0.6);
  padding: 20px;
  text-align: left;
}

@media all and (min-width: 600px) {

}
@media all and (min-width: 960px) {
}
