#menuwrap
	background: none repeat scroll 0 0 #fff
	height: auto
	line-height: 13px
	margin: 20px auto 50px
	padding: 0
	text-align: center
	width: 100%

.menu-item
	border-radius: 99%
	display: inline-block
	height: 50px
	color: black
	position: relative
	width: 50px
